.idea/
.venv/
.env
.detection_model/temporary_detected_images/
.DS_Store/
/database/conn.py
/app/detection_model/best_50.pt
/app/detection_model/temporary_detected_images/bbox_images/
/app/detection_model/temporary_detected_images/crop_images
/app/detection_model/temporary_detected_images/thumbnails
/app/detection_model/CARE_Traced.pt
/app/databases/image_database.db
/app/databases/user_data.db
.DS_Store
app/.DS_Store
app/__pycache__/
app/app_pages/__pycache__/
app/app_windows/__pycache__/
app/databases/__pycache__/
app/detection_model/__pycache__/
app/detection_model/config/__pycache__/
app/util/__pycache__/